@import "./common/navbar.css";
@import "./common/footer.css";
@import "./common/pageTittle.css";
@import "./common/backTopBtn.css";

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "微軟正黑體";
}


/* 中間內容 */
.wrap{
  width: 80%;
  margin: 50px auto;
}

.item{
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.item .pic{
  width: 55%;
  flex-shrink: 0;
}

.item .pic img{
  width: 100%;
  vertical-align: middle;
}

.item .txt{
  width: 55%;
  background-color: rgba(255, 255, 255, 0.9);
  /* flex-shrink: 0; */
  padding:  40px 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.item > :first-child{
  margin-right: -10%;
}

.item h2{
  color: #FF3158;
  margin-bottom: 10px;
  font-size: 25px;
}

.item p{
  color: #333;
  line-height: 26px;
}


/* 下方交通位置 */
.access{
  margin: 0 auto;
  margin-top: 100px;
  width: 80%;
}

.container{
  margin-bottom: 20px;
}

.container::after{
  content: "";
  display: block;
  clear: both;
}

.container .left{
  display: inline-block;
  vertical-align: top;
}

.left h2{
  font-size: 26px;
  border-left: 8px solid #FF3158;
  padding: 5px;
}

.container .right{
  display: inline-block;
  vertical-align: top;
  float: right;

}

.map iframe{
  width: 100%;
  margin-bottom: 150px;
}


/* 導覽列位置提示 */
#list_about{
  color: #FF3355;
}

/* RWD */
@media screen and (max-width: 575px){
  .circle-red-l{
    display: none;
  }

  .circle-red-s{
    display: none;
  }

  .circle-blue-m{
    display: none;
  }

  .wrap{
    width: 90%;
  }

  .item{
    display: flex;
    flex-direction: column;
  }

  .item .pic{
    width: 100%;
    flex-shrink: 0;
    order: 1;
  }

  .item .pic img{
    width: 100%;
  }

  .item .txt{
    width: 100%;
    flex-shrink: 0;
    padding: 20px;
    z-index: 1;
    order: 2;
  }

  .item > :first-child{
    margin-right: 0%;
  }

  .item h2{
    margin-bottom: 10px;
    font-size: 26px;
  }

  .item p{
    font-size: 18px;
    line-height: 30px;
  }

  .access{
    width: 90%;
  }

  .container .left{
    display: inline-block;
    float: left;
  }

  .left h2{
    font-size: 26px;
    padding: 5px;
  }

  .container .right{
    display: inline-block;
    float: left;
  }
}

@media (min-width: 576px) and (max-width: 767px){
  .wrap{
    width: 90%;
  }

  .item{
    display: flex;
    flex-direction: column;
  }

  .item .pic{
    width: 100%;
    flex-shrink: 0;
    order: 1;
  }

  .item .pic img{
    width: 100%;
  }

  .item .txt{
    width: 100%;
    flex-shrink: 0;
    padding: 20px;
    z-index: 1;
    order: 2;
  }

  .item > :first-child{
    margin-right: 0%;
  }

  .item h2{
    margin-bottom: 10px;
    font-size: 28px;
  }

  .item p{
    font-size: 18px;
    line-height: 30px;
  }

  .access{
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .wrap{
    width: 90%;
  }

  .item .pic{
    width: 60%;
    flex-shrink: 0;
  }

  .item .pic img{
    width: 100%;
  }

  .item .txt{
    width: 50%;
    /* flex-shrink: 0; */
    padding:  30px 20px;
    z-index: 1;
  }

  .item > :first-child{
    margin-right: -10%;
  }

  .item h2{
    font-size: 22px;
  }

  .access{
    width: 90%;
  }
}