@import "./common/navbar.css";
@import "./common/footer.css";
@import "./common/pageTittle.css";
@import "./common/backTopBtn.css";

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "微軟正黑體";
}


/* 中間內容 */
.faq-list{
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 10px;
}


/* Q&A */
.faq-list > ul{
  list-style:none;
  max-width:1000px;
  padding:30px 0;
  margin:0 auto;
}

.qa-title{
  background-color: #D7B99A;
  color: #fff;
  padding:15px;
  border-radius:6px;
  margin-bottom:10px;
  cursor:pointer;
  font-size: 20px;
  transition: 0.5s;
}

.qa-title::before{
  content: "\f002";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  color: #fff;
  padding-right: 5px;
}

.qa-title:hover{
  background-color: #FA972F;
}

.qa-title.on{
  background-color: #FA972F;
}

.qa-content{
  display: none;
  background:#fff;
  padding:20px;
  border-radius:6px;
  margin:8px 0;
  font-size: 20px;
  color: #333;
}


/* 導覽列位置提示 */
#list_faq{
  color: #FF3355;
}

/* RWD */
@media screen and (max-width: 575px){
  .circle-red-l{
    display: none;
  }

  .circle-red-s{
    display: none;
  }

  .circle-blue-m{
    display: none;
  }

}

@media (min-width: 576px) and (max-width: 767px){

}

@media (min-width: 768px) and (max-width: 991px){

}
