@import "./common/navbar.css";
@import "./common/footer.css";
@import "./common/pageTittle.css";
@import "./common/backTopBtn.css";

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "微軟正黑體";
  /* border: 1px solid black; */
}


/* 中間內容 */
.wrap{
  margin: 50px auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.container{
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.item{
  width: 500px;
  margin: 15px auto;
  display: flex;
  /* background-color: #fff; */
  transition: .5s;
  /* box-shadow: 3px 3px 5px #C6C6C6; */
  /* border: 2px solid #333; */
  box-sizing: border-box;
}

.item .pic{
  width: 60%;
  overflow: hidden;
}

.pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: .5s;
}

.item:hover img{
  transform: scale(1.2);
}

.item .txt{
  width: 40%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.item .txt h3{
  color: black;
}

.item .txt p{
  color: #888;
  margin-bottom: 10px;
}

.item:hover{
  /* background-color: #333; */
}

.item:hover .txt p{
  /* color: #fff; */
}

.item:hover .txt h3{
  /* color: #fff; */
}

.item h3::after{
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  margin: 0;
  background-color: #FF3158;
  transition: width .3s .3s;
}

.item:hover h3::after{
  width: 100%;
}


/* 下面頁碼 */
.page{
  margin: 100px auto;
  text-align: center;
}

div.pagination_block{
  display: inline-block;
}
div.pagination_block > ul.pagination{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
div.pagination_block > ul.pagination > li{
  display: inline-block;
}
div.pagination_block > ul.pagination > li > a{
  display: inline-block;
  text-decoration: none;

  border: 1px solid #dee2e6; /* 留意 */
  border-right: 0;           /* 留意：將全部的右邊框都移除 */

  text-align: center;
  padding: 5px 10px;
  font-size: 1rem;
  color: #007bff;
}

/* 留意: 將最後一個 li 裡的 a，右邊框加回來 */
/* 留意: 將最後一個 li 裡的 a，加上圓角 */
div.pagination_block > ul.pagination > li:last-child > a{
  border-right: 1px solid #dee2e6;
  border-radius: 0 5px 5px 0;
}
/* 留意: 將第一個 li 裡的 a，加上圓角 */
div.pagination_block > ul.pagination > li:first-child > a{
  display: inline-block;
  border-radius: 5px 0 0 5px;
}

div.pagination_block > ul.pagination > li > a.-on{
  background-color: #e9ecef;
  color: #0056b3;
}

div.pagination_block > ul.pagination > li > a:hover{
  background-color: #e9ecef;
  color: #0056b3;
}


/* 導覽列位置提示 */
#list_news{
  color: #FF3355;
}

/* RWD */
@media screen and (max-width: 575px){
  .circle-red-l{
    display: none;
  }

  .circle-red-s{
    display: none;
  }

  .circle-blue-m{
    display: none;
  }

  .item{
    width: 90%;
    margin: 20px auto;
  }

  .item .txt h3{
    font-size: 20px;
  }

  .item .txt{
    padding: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px){
  .item{
    width: 90%;
    margin: 20px auto;
  }

  .item .txt h3{
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .item{
    width: 400px;
    margin: 15px auto;
  }
}
