/* 分頁固定標題 */
.page-tittle{
    background-image: url("../../image/banner.png");
    background-size: 1200px;
    background-repeat: repeat-x;
    background-color: #F6F6F6;
    background-position: bottom;
    height: 255px;
    padding-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  
.tittle-container > .text{
    text-align: center;
}

.text h2{
    color: #333;
    /* color: #FF3355; */
    font-size: 50px;
    margin-bottom: 10px;
}

.text span{
    color: #999;
    font-size: 20px;
}

/* tittle小圓點 */
.circle-yellow-m{
    display: block;
    height: 18px;
    width: 18px;
    background-color: rgba(255, 187, 51, 0.5);
    border-radius: 50%;
    position: absolute;
    left: 10%;
    top: 40px;
}

.circle-red-s{
    display: block;
    height: 12px;
    width: 12px;
    background-color: rgba(255, 49, 49, 0.5);
    border-radius: 50%;
    position: absolute;
    left: 25%;
    top: 75px;
    opacity: .7;
}

.circle-red-m{
    display: block;
    height: 30px;
    width: 30px;
    background-color: rgba(255, 49, 49, 0.5);
    border-radius: 50%;
    position: absolute;
    left: 15%;
    bottom: 40%;
}

.circle-blue-m{
    display: block;
    height: 22px;
    width: 22px;
    background-color: rgba(66, 154, 186, 0.5);
    border-radius: 50%;
    position: absolute;
    left: 32%;
    bottom: 45%;
}

.circle-blue-s{
    display: block;
    height: 18px;
    width: 18px;
    background-color: rgba(66, 154, 186, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 35%;
    top: 55px;
    opacity: .7;
}

.circle-red-xs{
    display: block;
    height: 9px;
    width: 9px;
    background-color: rgba(255, 49, 49, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 35px;
    right: 19%;
    opacity: .5;
}

.circle-yellow-l{
    display: block;
    height: 26px;
    width: 26px;
    background-color: rgba(255, 187, 51, 0.5);
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    right: 25%;
}

.circle-red-l{
    display: block;
    height: 50px;
    width: 50px;
    background-color: rgba(255, 49, 49, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 8%;
    top: 80px;
}